/* -----------------------------------------------------------------------
 * Base widget panel
 * ----------------------------------------------------------------------- */

.iyen-panel {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: var(--lumo-space-m);
  background-color: var(--surface-0);
  margin: var(--lumo-space-m);
  padding: var(--lumo-space-m);
  align-items: flex-start;
}

.iyen-panel--bordered {
  border: 1px solid var(--lumo-contrast-10pct);
}

.iyen-panel--no-border {
  border: none;
}

@media (max-width: 640px) {
  .iyen-panel {
    gap: var(--lumo-space-s);
    margin: var(--lumo-space-s);
  }
}
